{% extends 'layout/layout.html' %}

{% block contenido %}
<section>
  <article>
    <div class="comments-container">
      <h2>Comentarios</h2>
      <ul id="comments-list" class="comments-list">

        <!-- Caja de comentarios -->
        {%if user.is_authenticated%}
        <form class="public-comment" id="public-comment" method="POST">
        {% csrf_token %}
          <div class="comment-avatar">
            <img src="{{user.perfil.imagen.url}}">
          </div>
          <div class="public-box">
            {%for campo in formulario%}
            <div class="comment-content">
              {{campo}}
            </div>
            {%endfor%}
          </div>
          <div class="comment-buttom">
            <button type="submit" id="btnPublicar" class="public-button">Publicar</button>
          </div>
        </form>
        {%else%}
        <p class="condition-user">Por favor
          <a href="{% url 'inicio-sesion' %}">Inicia Sesión</a> o
          <a href="{% url 'registrarse' %}">Regístrate</a> para comentar
        </p>
        {% endif %}
        
        {% for comentario in comentarios %}
      <li class="comments-list">

        <div class="comment-main-level">
          <div class="comment-avatar">
            <img src="{{comentario.perfil.imagen.url}}">
          </div>
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name">{{comentario.perfil.username}}</h6>
              <span>{{comentario.fecha}}</span>
              <i class='fas fa-thumbs-up'></i>
              <i class='fas fa-pencil-alt'></i>
              <i class='fas fa-share-alt'></i>
            </div>
            <div class="comment-content">
              <p>
              {{comentario.descripcion}}
              </p>
            </div>
          </div>
        </div>
      </li>
        {% endfor %}
        <li class="comments-list">
          <div class="comment-main-level">
            <div class="comment-avatar">
              <img src="../../static/img/cj_avatar.jpg">
            </div>
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name">Carl Johnson</h6>
                <span>Hace 7 días</span>
                <i class='fas fa-thumbs-up'></i>
                <i class='fas fa-pencil-alt'></i>
                <i class='fas fa-share-alt'></i>
              </div>
              <div class="comment-content">
                Bajen de precio la bolsa de peras porfa :,(
              </div>
            </div>
          </div>
          <ul class="comments-list reply-list">
            <li>
              <div class="comment-avatar">
                <img src="../../static/img/big_avatar.jpg">
              </div>
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name">Big Smoke</h6>
                  <span>Hace 3 minutos</span>
                  <i class='fas fa-thumbs-up'></i>
                  <i class='fas fa-pencil-alt'></i>
                  <i class='fas fa-share-alt'></i>
                </div>
                <div class="comment-content">
                  ¡Solo teníamos que seguir al maldito tren, CJ!
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </article>

</section>
{% endblock contenido %}