{% extends 'layout/layout.html' %}


{% block titulo %}Agregar{% endblock titulo %}
{% block contenido %}

<section class="contenido_pagina_crud_producto">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <article class="contenido-crearPagina">
            <input type="number" name="id_producto" id="id_producto" value='2' disabled>
            {{formulario.nombre}}
            {{formulario.precio}}
            {{formulario.estadooferta.label}}
            {{formulario.estadooferta}}
            {{formulario.stock}}

            {{formulario.imagen}}
            {{formulario.categoria}}
            
        </article>
        
        <article class="contenido-crear-producto-botones">
            
            <button name="boton_guardar" type="submit" class="btn-agregar">Agrergar Producto</button>
        </article>
    </form>

    <article id="lista-productos" class="lista-productos">
        <h3 class="mt-4">Productos</h3>

        {% if productos %}
        {% for producto in productos %}
        <article>
            <section class="card mb-1" style="width: 13rem">
                <img src="{{producto.imagen.url}}" class="card-img-top carta-imagen">
                <article class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text"> <span class="color-verde">$</span>{{producto.precio}}</p>
                    <a href="{% url 'buscarId' producto.id %}"><button class="btn-warning">Editar</button></a>
                    <a href="{% url 'eliminarProducto' producto.id %}"><button class="btn-danger">Eliminar</button></a>
                </article>
            </section>
        </article>
        {% endfor %}
        {% else %}
        <h3 class="texto-vacio">No hay productos</h3>
        {% endif %}
    </article>
</section>
{% endblock contenido %}