{% extends 'layout/layout.html' %}

{% block contenido %}
<section class="container">
    <div class="col-sm-12 d-flex flex-wrap justify-content-center">

        <div class="formulario">
            <form class="col-sm-12 d-flex flex-wrap formulario-registro" method="POST" action="#">
                {% csrf_token %}
                <img src="static/img/login.png" class="imagen-login" alt="Login">

                {% for campo in form %}
                <label for="{{campo.id_for_label}}">{{campo.label}}</label>
                {{campo}}
                {% if campo.errors %}
                <span class="text-muted">
                {{campo.errors}}
                </span>
                {% endif %}
                {% endfor %}

                <input type="submit" class="efecto-botones" value="Iniciar Sesion">
            </form>
        </div>

    </div>
</section>
{% endblock contenido %}