{% extends 'layout/layout.html' %}

{% block contenido %}
<section class="zona-productos">
  {% if user.is_authenticated %}
  <article class="contenido-icono-carrito">
  <a class="icono-carrito" href="{% url 'carrito' %}"><i class="fas fa-shopping-cart"></i></a>
  </article>
  {% endif %}
  <section class="filtro">
    <article>
      <h3>Filtro:</h3>
      <ul class="lista-filtro-producto">
        <li class="lista-filtro"><a href="{% url 'producto' %}">Todo</a></li>
        {% if categorias %}
          {% for categoria in categorias %}
          <li class="lista-filtro"><a href="{% url 'filtro_categoria' idCategoria=categoria.id %}">{{categoria.nombre}}</a></li>
          {% endfor %}
        {% else %}
          <h4 class="text-muted texto-vacio">No hay categorias</h4>
        {% endif %}
      </ul>

    </article>
    {% if user.is_authenticated %}
    <article class="espacio-boton-crear-producto">
      <a class="filtro-crear" href="{% url 'categoria' %}">Nurva Categoria</a>
      <a id="btn-crear-producto" class="crear-producto filtro-crear" href="{% url 'crudproducto' %}">Nuevo Producto</a>
    </article>
    {% endif %}
  </section>

  <article class="articulos">
    <h3>Todo</h3>
    <section>
    {% if productos %}
      {% for producto in productos %}
      <article>
        <div class="card mb-1" style="width: 13rem;">
          <img src="{{producto.imagen.url}}" class="card-img-top carta-imagen" alt="...">
          <div class="card-body">
            <h5 class="card-title ">{{producto.nombre}}</h5>
            <p class="card-text">
            {% if producto.estado %}
            <span class="producto-antes">$9.990</span> <span class="producto-oferta">${{producto.precio}}</span>
            
            {% endif %}
            ${{producto.precio}}
            </p>
            {% if user.is_authenticated %}
            <a href="{% url 'agregarCarrito' producto.id %}" class="btn btn-primary">Comprar</a>
            {% endif %}
            <a class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </article>
      {% endfor %}
    {% else %}
    <h2 class="text-center text-muted no-producto">No hay productos</h2>
    {% endif %}
      <!-- 
      <article>
        <div class="card mb-1" style="width: 13rem;">
          <img src="assets/images/Productos/lecheNido3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title ">Leche nido +3</h5>
            <p class="card-text"><span class="producto-antes">$9.990</span> <span class="producto-oferta">$7.490</span>
            </p>
            <a name="btn-editar" href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </article>

      <article>
        <div class="card mb-1" style="width: 13rem;">
          <img src="assets/images/Productos/lecheNido4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title ">Leche nido +1</h5>
            <p class="card-text"><span class="producto-antes">$9.990</span> <span class="producto-oferta">$7.490</span>
            </p>
            <a href="#" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </article> -->
    </section>
  </article>
</section>
{% endblock contenido %}