{% extends 'layout/layout.html' %}

{% block contenido %}
<section class="container contenido-registrarse d-flex justify-content-center">
<article class="cuadro-mitad">
    <form class="col-sm-12 d-flex flex-wrap formulario-registro" enctype="multipart/form-data method='POST'>
        {% csrf_token %}
        {% for campo in formulario %}
            <label for="{{campo.id_for_label}}">{{campo.label}}</label>
            {{campo}}
            <span class="text-muted">
            {{campo.errors}}
            </span>
        {% endfor %}
        {% comment %} {{formulario.as_p}} {% endcomment %}
        <input name="regGuardar" id="regGuardar" class="efecto-botones" type="submit" value="Registrarse">
    </form>
</article>
</section>
{% endblock contenido %}